<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="about-background">
    <header>
        <h1>Gym Management System</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/membership">Membership</a>
    </nav>
    <div class="container">
        <section>
            <h2>&emsp;About Us</h2>
            <p>&emsp;Our gym is dedicated to providing top-notch facilities, personal training, and various fitness classes. Our team of certified trainers and friendly staff are here to support you every step of the way. Join us to take your fitness journey to the next level!&emsp;</p>
        </section>
    </div>
</body>
</html>